@import '../variables/variables';
@import '../mixins/mixins';

/* ---------------------------------------
            Banner Part Start
--------------------------------------- */
.banner_item {
    padding: 254px 0 100px;
    position: relative;
    z-index: 1;

    &:after {
        @include after_tl(0, 0, 100%, 100%, rgba(0, 0, 0, 0.6));
        z-index: -1;
    }

    .banner_text {
        h2 {
            @include fs(#ffffff, 30px, 700, $oswald);
            text-transform: uppercase;
            position: relative;

            &:after {
                @include after_tl(0, 18px, 200px, 3px, $red);
                clip-path: polygon(0 0, 100% 0%, 95% 100%, 0% 100%);
            }

            &:before {
                @include after_tr(0, 18px, 160px, 3px, $red);
                clip-path: polygon(0 0, 100% 0%, 100% 100%, 5% 100%);
            }
        }

        h1 {
            @include fs($red, 60px, 700, $oswald);
            text-transform: uppercase;
            margin-top: 12.5px;
            position: relative;

            &:after {
                @include after_tl(0, -30px, 3px, 198px, $red);
            }

            &:before {
                @include after_tr(0, -30px, 3px, 198px, $red);
            }

        }

        p {
            @include fs(#dddddd, 13px, 400, $opensans);
            line-height: 18px;
            margin-top: 12.5px;
            position: relative;

            &:after {
                @include after_bl(0, -50px, 100px, 3px, $red);
            }

            &:before {
                @include after_br(0, -50px, 80px, 3px, $red);
            }
        }

        a {
            @include fs(#ffffff, 16px, 500, $oswald);
            text-transform: uppercase;
            padding: 10px 20px;
            border: 1px solid #ffffff;
            margin: 25px 12.5px 0;
            transition: all linear .3s;

            &:hover {
                background: $red;
                border-color: $red;
            }

        }
    }
}
#banner{
    .slick-dots{
        position: absolute;
        left: 50%;
        bottom: 25px;
        display: flex;
        flex-wrap: wrap;
        transform: translateX(-50%);
        li{
            button{
               font-size: 0;
               width: 15px;
               height: 15px;
               border: 1px solid #ffffff;
               border-radius: 50%; 
               margin: 0 5px;
               background: transparent;
            }
            &.slick-active{
                button{
                    background: $red;
                    border: 0;
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
}

/* ---------------------------------------
            Banner Part End
--------------------------------------- */