@import '../variables/variables';
@import '../mixins/mixins';

/* ---------------------------------------
            Counter Part Start
--------------------------------------- */
#counter{
    padding: 0 0 30px;
    .counter_bg{
        padding: 50px 0;
        position: relative;
        z-index: 1;
        &::after {
            @include after_tl(0, 0, 100%, 100%, rgba(0, 0, 0, 0.9));
            z-index: -1;
        }
        .counter_text{
            h2{
                @include fs(#ffffff, 40px, 700, $oswald);
                margin-bottom: 3px;
            }
            span{
                @include fs(#ffffff, 16px, 400, $oswald);
            }
        }
    }
}
/* ---------------------------------------
            Counter Part End
--------------------------------------- */